
.tanchuang {
    padding: 0px;
    margin: 0px;
}
/* 弹窗背景 */
#modal {

    width: 100%;
    height: 100%;
    /* 默认隐藏 */
     display: none;
    /* 固定定位 */
    position: fixed;
    /* 设置在顶层 */
    z-index: 1000;
    /* 设置位置 */
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
/* 弹窗内容 */
#modal-content {
    border-radius: 25px;
    position: relative;
    background-color: white;
    margin: 10% auto;
    border: 1px solid #888;
    width: 600px;
    height: 400px;
    z-index: 1001;
}
#modal1 {

    width: 100%;
    height: 100%;
    /* 固定定位 */
    position: fixed;
    /* 设置在顶层 */
    z-index: 1000;
    /* 设置位置 */
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
/* 弹窗内容 */
#modal-content1 {
    border-radius: 25px;
    position: relative;
    background-color: white;
    margin: 10% auto;
    border: 1px solid #888;
    width: 600px;
    height: 450px;
    z-index: 1001;
}
/* 关闭按钮 */
#close {
    position: absolute;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* 设置关闭按钮的鼠标指针 */
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#close1 {
    position: absolute;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* 设置关闭按钮的鼠标指针 */
#close1:hover,
#close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
