#main-left{
    width: 850px;
    height: 800px;

    float: left;
}

main{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
#left1{
    width: 100%;
    height: 280px;
}
#xxi{
    width: 565px;
    float: left;
    height: 250px;
    
    margin-left: 10px;
}
#xxi h1{
    color: black;
    padding: 0;
    margin: 0 0 10px;
    font-size: 18px;
    height: 27px;

}
#xxi p{
    font-size: 12px;
    margin-top: 5px;
    
}
#xxi span{
    color: #337ab7;
}
#left2{
    width: 100%;
}
#js{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;
}
#left3{
    margin-top: 30px;
    width: 100%;
    height: 245px;
}
#left3>div{
    float: left;
}